@charset "UTF-8";

body {
    background-color: cornflowerblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

h1 {
    color: darkblue;
}

h2 {
    color: red;
}

p {
    text-align: justify;
}