@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
    --font1: 'Passion One', cursive;
    --font2: 'Sriracha', cursive;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    min-height: 100vh;
}

header {
    background-color: black;
    height: 15em;
    text-align: center;
}

header > h1 {
    max-height: 200px;
    color: rgb(255, 255, 255);
    font-family: var(--font1);
    font-size: 10vw;
    padding-top: 50px;
    margin-bottom: 0px;
    font-variant: small-caps;
}

header h2 a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-style: normal;
    font-family: var(--font2);
    margin-bottom: 20px;
}

header > h2 > a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 0px;
}

.normal p {
    font-family: var(--font2);
    font-size: 4vmax;
    padding: 50px;
}

.image p {
    font-family: var(--font2);
    font-size: 4vmax;
}

.normal {
    height: max-content;
}

.image {
    height: max-content;
}

.background {
    display: inline-block;
    background-color: #000800ce;
    color: white;
    width: max-content;
    height: max-content;
    padding: 50px 50px 50px 10px;
    margin-left: 40px;
}

#image1 {
    background-image: url('imagens/background001.jpg');
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

#image2 {
    background-image: url('imagens/background002.jpg');
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

footer {
    background-color: black;
    text-align: center;
    color: rgb(255, 255, 255);
    height: max-content;
}

footer a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

footer a::after {
    content: '\1F517';
}

footer p {
    font-size: medium;
    padding: 0px;
}