* {
    margin: 0;
    padding: 0;
}

#background {
    background-image: url('espaco.jpg');
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}

#astronaut {
    background-image: url('astronauta.png');
    background-size: 100% 100%;
    height: 350px;
    width: 350px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}