@charset "UTF-8";

/*
    Color Palette
    Green: #49a09d
    Lilac: #5f2c82
*/

:root {
    --green: #49a09d;
    --lilac: #5f2c82;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

body, html {
    background-color: var(--lilac);
    height: 90vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;
    
    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    
    transition: width .3s, height .3s;
    transition-timing-function: ease;
    transform: translate(-50%, -50%);
}

section#login > div#image {
    display: block;
    background: var(--lilac) url('../images/sky.jpg') no-repeat center left;
    background-size: cover;
    height: 200px;
}

section#login > div#form {
    display: block;
    padding: 10px;
}

div#form > h1 {
    text-align: center;
    margin-bottom: 8px;
    font-size: 1em;
}

div#form > p {
    font-size: 0.9em;
    white-space: pre-line;
    margin: 10px 0px;
}

form > div.field {
    background-color: var(--lilac);
    border: 2px solid var(--lilac);
    display: block;
    width: 100%;
    height: 37px;
    border-radius: 8px;
    margin: 5px 0px;
}

form label {
    display: none;
}

div.field > i {
    color: white;
    font-size: 1.5em;
    width: 37px;
    padding: 4px 4px 4px 8px;
}

div.field > input {
    background-color: #5bbebb;
    font-size: 1em;
    width: calc(100% - 43px);
    height: 90%;
    border: 0px;
    border-radius: 6px;
    padding: 3px;
    transform: translateY(-5px);
}

div.field > input:focus-within {
    background-color: white;
}

form > input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 37px;
    background-color: var(--green);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form > input[type=submit]:hover {
    background-color: #5fcac7;
}

form > a.button {
    display: block;
    text-align: center;
    font-size: 1em;
    margin-top: 5px;
    width: 100%;
    height: 40px;
    padding-top: 5px;
    background-color: white;
    color: #3b7c7a;
    border: 1px solid var(--green);
    border-radius: 5px;
    text-decoration: none;
}

form > a.button:hover {
    background-color: #87c5c3;
}

form >a.button > i {
    font-size: 0.8em;
}